.ancho-100{
    width: 100%;
    border-radius: 20px;
}
/* label focus color */
.input-field input:focus + label {
    color: black !important;
}
/* label underline focus color */
  .input-field input:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
  }

.padding-nav{
    padding-left: 30px;
    padding-right: 40px;
}


.img{
  width: 100px; 
  margin-top: 20px;
}

.matrix{
  height: 100%;      
    width: 100%; 
  
}


.card{
  margin-top: 50px;
  margin-left: 10px;
  padding: 10px 0px 10px 20px;
  box-shadow: 2px 2px 8px gray;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  transform: translateY(70%);
}
.horizontal{
  display: flex;
  flex-direction: row; 
}

.info2{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.info2 p{
  font-weight: bold;
}
.cargo{
  color: gray;
  font-weight: 400;
  font-size: 12px;
}
.copiright{
  display: flex;
  flex-direction: row; 
  justify-content: center;
}






